<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html lang="en">
<head>
<title>Artist Panel Home</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transporters web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web Designs" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<link rel="stylesheet" href="/static/admin/css/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->

<!-- css files -->
<link rel="stylesheet" href="/static/admin/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="/static/admin/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="/static/admin/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->

<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
<div class="header">
		<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="artist_index.html">BOOK ARTIST</a></h1>
					</div>
{#					<div class="top-nav-text">#}
{#						<div class="nav-contact-w3ls"><i class="fa fa-phone" aria-hidden="true"></i><p>+0(12) 444 262 399</p></div> #}
{#					</div>#}
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="hvr-underline-from-center active" href="/artistpanel_home">Home</a></li>
{#                            <li><a href="/view_profile#team" class="hvr-underline-from-center">Profile</a></li>#}
                             <li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Members</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/add_member#team"><span data-hover="Icons">Add Member</span></a></li>
									<li><a href="/view_member#team"><span data-hover="Icons">View Member</span></a></li>
{#									<li><a href="/rejected_artistpanel#team"><span data-hover="Typograpghy">Rejected</span></a></li>#}
								</ul>
							</li>
                            <li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Team Leader</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/add_teamleader#team"><span data-hover="Icons">Add Teamleader</span></a></li>
									<li><a href="/view_teamleader#team"><span data-hover="Icons">View Team leader</span></a></li>
{#									<li><a href="/rejected_artistpanel#team"><span data-hover="Typograpghy">Rejected</span></a></li>#}
								</ul>
							</li>







{#							<li><a class="hvr-underline-from-center active" href="/add_teamleader">Team Leader</a></li>#}
                            <li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Category</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/add_category#team"><span data-hover="Icons">Add category</span></a></li>
									<li><a href="/view_category#team"><span data-hover="Typograpghy">View Category</span></a></li>
								</ul>
{#							<li><a href="/view_programme_reviews#team" class="hvr-underline-from-center">complaint</a></li>#}
{#							<li><a href="/view_complaints_and_send_reply#team" class="hvr-underline-from-center scroll scroll">Complaints</a></li>#}
{#							<li><a href="/view_popular_programs_of_artist_panel#team"></a></li>#}
							<li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Highlights</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/add_highlight#team"><span data-hover="Icons">Add Highlights</span></a></li>
									<li><a href="/view_highlight#team"><span data-hover="Typograpghy">View Highlights</span></a></li>
								</ul>
                            <li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Booking</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/view_booking_from_user#team"><span data-hover="Icons">View Booking</span></a></li>
									<li><a href="/approved_booking#team"><span data-hover="Icons">Approved Booking</span></a></li>
									<li><a href="/rejected_booking#team"><span data-hover="Typograpghy">Rejected Booking</span></a></li>
								</ul>
                            <li><a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Account</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
                                    <li><a href="/view_profile#team"><span data-hover="Icons">Profile</span></a></li>
									<li><a href="/artist_paswrd#team"><span data-hover="Icons">Password</span></a></li>
									<li><a href="/login#team"><span data-hover="Typograpghy">Log Out</span></a></li>
								</ul>
							</li>


{#							<li><a href="contact.html" class="hvr-underline-from-center">Contact</a>#}
						</ul>
					</div>

					<div class="clearfix"> </div>
				</nav>

	</div>
<!-- Slider -->
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider">
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top1">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h2>Filling a space in </h2>
								<h4>a beautiful way</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myModal">More About Our Programs</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-music" aria-hidden="true"></i>
										<p>Festivals teach us to share joy with each other</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>The art of knowing is knowing what to ignore</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<p>Life is the art of drawing without an eraser</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-md-4">#}
{#								<div class="banner-form-agileinfo">#}
{#									<h5>Need To <span>Transport</span>?</h5>#}
{#									<p>Ut enim ad minima veniam, quis nostrum #}
{#										exerc ullam corporis nisi ut aliqui</p>#}
{#									<form action="#" method="post">#}
{#										<input type="text" class="email" name="name" placeholder="Name" required="">#}
{#										<input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport From</option>#}
{#												<option>Albania</option>#}
{#												<option>Belgium</option>#}
{#												<option>Cameroon</option>#}
{#												<option>Dominica</option>#}
{#												<option>France</option>#}
{#												<option>Jersey</option>#}
{#										</select>#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport To</option>#}
{#												<option>Colombia</option>#}
{#												<option>Indonesia</option>#}
{#												<option>Japan</option>#}
{#												<option>Lebanon</option>#}
{#												<option>Luxembourg</option>#}
{#												<option>Montserrat</option>#}
{#										</select>#}
{#										<input type="submit" class="hvr-shutter-in-vertical" value="Get started">  	#}
{#									</form>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Art is the journey </h3>
								<h4>of a free soul</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myModal">More About Our Program</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-music" aria-hidden="true"></i>
										<p>Festivals teach us to share joy with each other</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>The art of knowing is knowing what to ignore</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<p>Life is the art of drawing without an eraser</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-md-4">#}
{#								<div class="banner-form-agileinfo">#}
{#									<h5>Need To <span>Transport</span>?</h5>#}
{#									<p>Ut enim ad minima veniam, quis nostrum #}
{#										exerc ullam corporis nisi ut aliqui</p>#}
{#									<form action="#" method="post">#}
{#										<input type="text" class="email" name="name" placeholder="Name" required="">#}
{#										<input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport From</option>#}
{#												<option>Albania</option>#}
{#												<option>Belgium</option>#}
{#												<option>Cameroon</option>#}
{#												<option>Dominica</option>#}
{#												<option>France</option>#}
{#												<option>Jersey</option>#}
{#										</select>#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport To</option>#}
{#												<option>Colombia</option>#}
{#												<option>Indonesia</option>#}
{#												<option>Japan</option>#}
{#												<option>Lebanon</option>#}
{#												<option>Luxembourg</option>#}
{#												<option>Montserrat</option>#}
{#										</select>#}
{#										<input type="submit" class="hvr-shutter-in-vertical" value="Get started">  	#}
{#									</form>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top3">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>The work of art is  </h3>
								<h4>a scream of freedom</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myModal">More About Our Program</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-music" aria-hidden="true"></i>
										<p>Festivals teach us to share joy with each other</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>The art of knowing is knowing what to ignore</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<p>Life is the art of drawing without an eraser</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-md-4">#}
{#								<div class="banner-form-agileinfo">#}
{#									<h5>Need To <span>Transport</span>?</h5>#}
{#									<p>Ut enim ad minima veniam, quis nostrum #}
{#										exerc ullam corporis nisi ut aliqui</p>#}
{#									<form action="#" method="post">#}
{#										<input type="text" class="email" name="name" placeholder="Name" required="">#}
{#										<input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport From</option>#}
{#												<option>Albania</option>#}
{#												<option>Belgium</option>#}
{#												<option>Cameroon</option>#}
{#												<option>Dominica</option>#}
{#												<option>France</option>#}
{#												<option>Jersey</option>#}
{#										</select>#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport To</option>#}
{#												<option>Colombia</option>#}
{#												<option>Indonesia</option>#}
{#												<option>Japan</option>#}
{#												<option>Lebanon</option>#}
{#												<option>Luxembourg</option>#}
{#												<option>Montserrat</option>#}
{#										</select>#}
{#										<input type="submit" class="hvr-shutter-in-vertical" value="Get started">  	#}
{#									</form>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top2">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Create with the heart; </h3>
								<h4>build with the mind.</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myModal">More About Our Program</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-music" aria-hidden="true"></i>
										<p>Festivals teach us to share joy with each other</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>The art of knowing is knowing what to ignore</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<p>Life is the art of drawing without an eraser</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-md-4">#}
{#								<div class="banner-form-agileinfo">#}
{#									<h5>Need To <span>Transport</span>?</h5>#}
{#									<p>Ut enim ad minima veniam, quis nostrum #}
{#										exerc ullam corporis nisi ut aliqui</p>#}
{#									<form action="#" method="post">#}
{#										<input type="text" class="email" name="name" placeholder="Name" required="">#}
{#										<input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport From</option>#}
{#												<option>Albania</option>#}
{#												<option>Belgium</option>#}
{#												<option>Cameroon</option>#}
{#												<option>Dominica</option>#}
{#												<option>France</option>#}
{#												<option>Jersey</option>#}
{#										</select>#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport To</option>#}
{#												<option>Colombia</option>#}
{#												<option>Indonesia</option>#}
{#												<option>Japan</option>#}
{#												<option>Lebanon</option>#}
{#												<option>Luxembourg</option>#}
{#												<option>Montserrat</option>#}
{#										</select>#}
{#										<input type="submit" class="hvr-shutter-in-vertical" value="Get started">  	#}
{#									</form>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
					</div>
				</div>
			</li>

			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top4">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Imagination is the </h3>
								<h4>beginning of creation</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myModal">More About Our Program</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-music" aria-hidden="true"></i>
										<p>Festivals teach us to share joy with each other</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>The art of knowing is knowing what to ignore</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<p>Life is the art of drawing without an eraser</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-md-4">#}
{#								<div class="banner-form-agileinfo">#}
{#									<h5>Need To <span>Transport</span>?</h5>#}
{#									<p>Ut enim ad minima veniam, quis nostrum #}
{#										exerc ullam corporis nisi ut aliqui</p>#}
{#									<form action="#" method="post">#}
{#										<input type="text" class="email" name="name" placeholder="Name" required="">#}
{#										<input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport From</option>#}
{#												<option>Albania</option>#}
{#												<option>Belgium</option>#}
{#												<option>Cameroon</option>#}
{#												<option>Dominica</option>#}
{#												<option>France</option>#}
{#												<option>Jersey</option>#}
{#										</select>#}
{#										<select class="form-control option-w3ls">#}
{#												<option>Transport To</option>#}
{#												<option>Colombia</option>#}
{#												<option>Indonesia</option>#}
{#												<option>Japan</option>#}
{#												<option>Lebanon</option>#}
{#												<option>Luxembourg</option>#}
{#												<option>Montserrat</option>#}
{#										</select>#}
{#										<input type="submit" class="hvr-shutter-in-vertical" value="Get started">  	#}
{#									</form>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //Slider -->
<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					More About
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
					<div class="modal-body">
						<img src="/static/admin/images/01.jpg" alt=" " class="img-responsive" />
						<p>It is the biggest chance to connect with your audience.
                            Make sure that it clearly sets out the
                            main issue you want to address.
                            Refer back to the list you have made and settle on one
                            or two major points—no more. You are trying to hook your reader,
                            so clarity and brevity are key.
                            The last thing you want is a run-on, meandering first
                            sentence for your artist profile.
                            The other thing to remember about your
                            lead is that you will most likely be distributing your profile online.</p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up -->
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="col-md-7 bannerbottomleft">
			<div class="video-grid-single-page-agileits">
				<div data-video="67dwOanARKc" id="video"> <img src="/static/admin/images/maxresdefault.jpg" alt="" class="img-responsive" /> </div>
			</div>
	</div>
	<div class="col-md-5 bannerbottomright">
		<h3>How Does We Work?</h3>
		<p>A site for booking events is a great way to
            find and book events online.
            You can search for events by date, location, and type,
            and then book them directly through the site.
            This can save you time, and ensure that you get the event you want..</p>
		<h4><i class="fa fa-youtube-play" aria-hidden="true"></i>International Online Events</h4>
		<h4><i class="fa fa-trophy" aria-hidden="true"></i>Fast & Best Service</h4>
		<h4><i class="fa fa-envelope-open" aria-hidden="true"></i>Standard programme conducting </h4>
		<h4><i class="fa fa-music" aria-hidden="true"></i> Easily accessible and visible</h4>
		<h4><i class="fa fa-group" aria-hidden="true"></i> 24/7 service</h4>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner-bottom -->

<!-- team -->
	<div class="team" id="team">
		<div class="container">
		<div class="heading">
		</div>
			<div class="wthree_team_grids">
                {% block body %}
                {% endblock %}

{#                <div class="col-md-3 wthree_team_grid">#}
{#					<div class="hovereffect">#}
{#						<img src="/static/admin/images/team1.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h6>Transporters</h6>#}
{#							<div class="rotate">#}
{#								<p class="group1">#}
{#									<a href="#">#}
{#										<i class="fa fa-twitter"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-facebook"></i>#}
{#									</a>#}
{#								</p>#}
{#									<hr>#}
{#									<hr>#}
{#								<p class="group2">#}
{#									<a href="#">#}
{#										<i class="fa fa-instagram"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-dribbble"></i>#}
{#									</a>#}
{#								</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<h4>Max Payne</h4>#}
{#					<p>Transport Dealer</p>#}
{#				</div>#}
{#				<div class="col-md-3 wthree_team_grid">#}
{#					<div class="hovereffect">#}
{#						<img src="/static/admin/images/team2.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h6>Transporters</h6>#}
{#							<div class="rotate">#}
{#								<p class="group1">#}
{#									<a href="#">#}
{#										<i class="fa fa-twitter"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-facebook"></i>#}
{#									</a>#}
{#								</p>#}
{#									<hr>#}
{#									<hr>#}
{#								<p class="group2">#}
{#									<a href="#">#}
{#										<i class="fa fa-instagram"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-dribbble"></i>#}
{#									</a>#}
{#								</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<h4>Michael Lii</h4>#}
{#					<p>Transport Dealer</p>#}
{#				</div>#}
{#				<div class="col-md-3 wthree_team_grid">#}
{#					<div class="hovereffect">#}
{#						<img src="/static/admin/images/team3.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h6>Transporters</h6>#}
{#							<div class="rotate">#}
{#								<p class="group1">#}
{#									<a href="#">#}
{#										<i class="fa fa-twitter"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-facebook"></i>#}
{#									</a>#}
{#								</p>#}
{#									<hr>#}
{#									<hr>#}
{#								<p class="group2">#}
{#									<a href="#">#}
{#										<i class="fa fa-instagram"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-dribbble"></i>#}
{#									</a>#}
{#								</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<h4>Mark</h4>#}
{#					<p>Transport Dealer</p>#}
{#				</div>#}
{#				<div class="col-md-3 wthree_team_grid">#}
{#					<div class="hovereffect">#}
{#						<img src="/static/admin/images/team4.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h6>Transporters</h6>#}
{#							<div class="rotate">#}
{#								<p class="group1">#}
{#									<a href="#">#}
{#										<i class="fa fa-twitter"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-facebook"></i>#}
{#									</a>#}
{#								</p>#}
{#									<hr>#}
{#									<hr>#}
{#								<p class="group2">#}
{#									<a href="#">#}
{#										<i class="fa fa-instagram"></i>#}
{#									</a>#}
{#									<a href="#">#}
{#										<i class="fa fa-dribbble"></i>#}
{#									</a>#}
{#								</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<h4>John smith</h4>#}
{#					<p>Transport Dealer</p>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
			</div>
		</div>
	</div>
<!-- //team -->

<!-- Clients -->
{#	<div class=" col-md-6 clients">#}
{#			<h3>Testimonials</h3>#}
{#			<section class="slider">#}
{#				<div class="flexslider">#}
{#					<ul class="slides">#}
{#						<li>#}
{#								<div class="client">#}
{#									<img src="/static/admin/images/t1.jpg" alt="" />#}
{#									<h5>Brian Fantana</h5>#}
{#									<div class="clearfix"> </div>#}
{#								</div>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>#}
{#								#}
{#						</li>#}
{#						<li>	#}
{#								<div class="client">#}
{#								<img src="/static/admin/images/t2.jpg" alt="" />#}
{#									<h5>Brick Tamland</h5>#}
{#									<div class="clearfix"> </div>#}
{#								</div>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>#}
{#								#}
{#						</li>#}
{#						<li>#}
{#								<div class="client">#}
{#								<img src="/static/admin/images/t3.jpg" alt="" />#}
{#									<h5>Ron Burgundy</h5>#}
{#									<div class="clearfix"> </div>#}
{#								</div>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>#}
{#								#}
{#						</li>#}
{#						<li>#}
{#								<div class="client">#}
{#								<img src="/static/admin/images/t4.jpg" alt="" />#}
{#									<h5>Arturo Mendez</h5>#}
{#									<div class="clearfix"> </div>#}
{#								</div>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>#}
{#								#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#			</section>#}
{#</div>#}
<!-- //Clients -->
<!-- Counter -->
{#	<div class="col-md-6 services-bottom">#}
{#			<div class="col-md-6 agileits_w3layouts_about_counter_left">#}
{#				<div class="countericon">#}
{#					<i class="fa fa-truck" aria-hidden="true"></i>#}
{#				</div>#}
{#				<div class="counterinfo">#}
{#					<p class="counter">1126</p> #}
{#					<h3>Transport vehicles</h3>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#			<div class="col-md-6 agileits_w3layouts_about_counter_left">#}
{#				<div class="countericon">#}
{#					<i class="fa fa-fighter-jet" aria-hidden="true"></i>#}
{#				</div>#}
{#				<div class="counterinfo">#}
{#					<p class="counter">180</p> #}
{#					<h3>International Service</h3>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#			<div class="col-md-6 agileits_w3layouts_about_counter_left">#}
{#				<div class="countericon">#}
{#					<i class="fa fa-calendar" aria-hidden="true"></i>#}
{#				</div>#}
{#				<div class="counterinfo">#}
{#					<p class="counter">20</p>#}
{#					<h3>Years Of Service</h3>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#			<div class="col-md-6 agileits_w3layouts_about_counter_left">#}
{#				<div class="countericon">#}
{#					<i class="fa fa-user" aria-hidden="true"></i>#}
{#				</div>#}
{#				<div class="counterinfo">#}
{#					<p class="counter">800</p>#}
{#					<h3>Happy clients</h3>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#	</div>#}
{#			<div class="clearfix"> </div>#}
{#<!-- //Counter -->#}
{##}
{##}
{#<!-- our blog -->#}
{#<section class="blog" id="blog">#}
{#	<div class="container">#}
{#		<div class="heading">#}
{#			<h3>Latest News</h3>#}
{#		</div>#}
{#		<div class="blog-grids">#}
{#		<div class="col-md-4 blog-grid">#}
{#			<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/admin/images/bg4.jpg" alt="" /></a>#}
{#			<h5>June 10,2017</h5>#}
{#			<h4><a href="#" data-toggle="modal" data-target="#myModal">Road Way Transport</a></h4>#}
{#			<p> Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>#}
{#			<div class="readmore-w3">#}
{#				<a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-4 blog-grid">#}
{#			<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/admin/images/bg7.jpg" alt="" /></a>#}
{#			<h5>June 17,2017</h5>#}
{#			<h4><a href="#" data-toggle="modal" data-target="#myModal">Water Way Transport</a></h4>#}
{#			<p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat tristique.</p>#}
{#			<div class="readmore-w3">#}
{#				<a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-4 blog-grid">#}
{#			<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/admin/images/bg8.jpg" alt="" /></a>#}
{#			<h5>June 26,2017</h5>#}
{#			<h4><a href="#" data-toggle="modal" data-target="#myModal">Rail Transport</a></h4>#}
{#			<p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>#}
{#			<div class="readmore-w3">#}
{#				<a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>#}
{#			</div>#}
{#		</div>#}
{#		<div class="clearfix"></div>#}
{#		</div>#}
{#	</div>#}
{#</section>#}
<!-- //our blog -->

<!-- footer -->
	<footer>
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>About Us</h5>
					<p>BOOK ARTIST is a worldwide talent marketplace for booking performing artists, musicians, and entertainers.
Discover and book musicians, DJs, magicians, comedians, dancers, MCs, presenters, circus artists, fire artists, photographers, specialty acts, experiences, and more.
                    </p>
					<div class="footer-agileinfo-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 w3-agile-grid">
					<h5>Address</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+91 1234567890</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> bookartist@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p> SE10 8JQ, Greenwich Road, London.
								Telephone : +0(12) 444 262 399
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Recent Posts</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="/static/admin/images/sufi.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Sufi Dance For Wedding in Mumbai</a></h6>
								<p>February 26,2023</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="/static/admin/images/thaikkudam.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Thaikkudam Bridge in banglore</a></h6>
								<p>January 17,2023</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="/static/admin/images/dance.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Group Dance For Arts Inaguration in Trivandrum</a></h6>
								<p>December 10,2022</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="/static/admin/images/shreyaghoshal.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Shreyaghosahl Came as The Chiefguest in Banglore</a></h6>
								<p>November 15,2022</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>© 2017 Transporters. All rights reserved | Design by <a href="#">W3layouts</a></p>
			</div>
		</div>
	</footer>
	<!-- //footer -->



<!-- js-scripts -->
<!-- js -->
	<script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->

<!-- start-smoth-scrolling -->
<script src="/static/admin/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/static/admin/js/move-top.js"></script>
<script type="text/javascript" src="/static/admin/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

<!-- Baneer-js -->
	<script src="/static/admin/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				pager:false,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
<!-- //Baneer-js -->

<!-- banner bottom video script -->
<script src="/static/admin/js/simplePlayer.js"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
</script>
<!-- //banner bottom video script -->

<!-- Stats-Number-Scroller-Animation-JavaScript -->
				<script src="/static/admin/js/waypoints.min.js"></script>
				<script src="/static/admin/js/counterup.min.js"></script>
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 100,
							time: 1000
						});
					});
				</script>
<!-- //Stats-Number-Scroller-Animation-JavaScript -->


<!-- FlexSlider-JavaScript -->
	<script defer src="/static/admin/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
<!-- //FlexSlider-JavaScript -->

<!-- //js-scripts -->
</body>
</html>