<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html lang="en">
<head>
<title>Create your Book artist account</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="/static/register_/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="/static/register_/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
			<h1 class="w3layouts_head">Registration</h1>
				<div class="w3layouts_main_grid">
					<form action="/register_post" method="post" class="w3_form_post" enctype="multipart/form-data">
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Name </label>
								<input type="text" name="textfield" placeholder="Name" required pattern="[A-Z/ /a-z]{3,25}" >
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Place</label>
								<input type="text" name="textfield9" placeholder="Place" required pattern="[A-Z a-z.]{3,25}">
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>District </label>
								<select name="select">
									<option value="none" selected="" disabled="">Select</option>
                                    <option>Alappuzha</option>
                                    <option>Ernakulam</option>
									<option>Idukki</option>
                                    <option>Kannur</option>
									<option>Kasaragod</option>
                                    <option>Kollam</option>
                                    <option>Kottayam</option>
                                    <option>Kozhikode</option>
                                    <option>Malappuram</option>
                                    <option>Palakkad</option>
                                    <option>Pathanamthitta</option>
                                    <option>Thiruvananthapuram</option>
                                    <option>Thissur</option>
                                    <option>Wayanad</option>
								</select>
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Post</label>
								<input type="text" name="textfield11" placeholder="Post" required pattern="[A-Z a-z.]{3,25}">
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Pincode</label>
								<input type="text" name="textfield3" placeholder="Pincode" required pattern="[0-9]{6}">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Email </label>
								<input type="text" name="textfield4" placeholder="Your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Phone Number </label>
								<input type="text" name="textfield5" placeholder="Phone Number" required pattern="[6789][0-9]{9}">
								</span>
						</div>
						<div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Joined</label>
								<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="textfield7" name="textfield7" type="date" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
{#								<div class="agileits_w3layouts_main_gridr">#}
{#									<input type="time" name="Time" placeholder=" " required="">#}
{#								</div>#}
									<div class="clear"> </div>
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Logo</label>
								<input type="file" name="fileField" placeholder="Logo" required="">
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Latitude</label>
								<input type="text" name="textfield8" placeholder="Latitude" required="">
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Longitude</label>
								<input type="text" name="textfield10" placeholder="Longitude" required="">
							</span>
						</div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>PASSWORD</label>
								<input type="PASSWORD" name="hiddenField" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
							</span>
						</div>
					
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="/static/register_/css/jquery-ui.css" />
				<script src="/static/register_/js/jquery-ui.js"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
			<div class="w3layouts_copy_right">
				<div class="container">
{#					<p>© 2017 Auditions Registration Form. All rights reserved | Design by <a href="">W3layouts.</a></p>#}
				</div>
			</div>
		</div>
	</div>
	</div>
<!-- //footer -->
</body>
</html>